*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code';
}
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden ;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #293B5F;
    transition: 0.5s ;
}
.bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    position: relative;
    max-width: 600px;
}
.text-box h2{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 800;
}
.text-box p{
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
.text-box a{
    text-decoration: none;
    background: #fff;
    border-radius: 40px;
    color: #333;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    font-weight: 500;
}
.image-box{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.image-box img{
    max-width: 400px;

}

.thumbnail{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumbnail li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s ease;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}
.thumbnail li:hover{
    border: rgba(255, 255, 255, 0.5);
}
.thumbnail li.active{
    border: 2px solid rgba(255, 255, 255, 1);
}
.thumbnail li::before{
    position: absolute;
    top: -150px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}
.thumbnail li.active::before
{opacity: 1;}
.thumbnail li img{
    max-width: 60px;
}
}
.sci{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
/* Media Query */
@media (max-width:991px){
    .bg::before{
        display: none;
    }
    header{
        padding: 20px;
    }
    section{
        padding: 20px;
        padding-bottom: 120px;
    }
    .content{
        margin-top: 100px;
        flex-direction: column;
    }
    .content .text-box{
        max-width: 100%;
    }
    .content .text-box h2{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    .content .image-box{
        max-width: 100%;
        justify-content: center;
    }
    .content .image-box img{
        max-width: 300px ;
    }
    .thumbnail li{
        margin: 0 3px;
        height: 55px ;
    }
    .thumbnail li img{
        max-width: 40px;
    }
    .thumbnail li::before{
        position: absolute;
        top: -100px;
        left: 0;
        font-size: 5em;
    }
    .sci{
        background: rgba(0, 0, 0, 0.1);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
  
}
